multi-robot-mqtt-architecture/multi-robot-mqtt-architecture/nodered/flow_pattern.json
[
  {
    "id": "tab_multi_1",
    "type": "tab",
    "label": "Multi-Robot MQTT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "broker_multi",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "192.168.4.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "inject_ur_wave",
    "type": "inject",
    "z": "tab_multi_1",
    "name": "UR Wave",
    "props": [{"p": "payload"}],
    "payload": "wave",
    "payloadType": "str",
    "x": 120,
    "y": 80,
    "wires": [["mqtt_out_ur"]]
  },
  {
    "id": "inject_abb_home",
    "type": "inject",
    "z": "tab_multi_1",
    "name": "ABB Home",
    "props": [{"p": "payload"}],
    "payload": "home",
    "payloadType": "str",
    "x": 120,
    "y": 140,
    "wires": [["mqtt_out_abb"]]
  },
  {
    "id": "mqtt_out_ur",
    "type": "mqtt out",
    "z": "tab_multi_1",
    "name": "UR CMD",
    "topic": "robot/ur/cmd",
    "qos": "",
    "retain": "",
    "broker": "broker_multi",
    "x": 330,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt_out_abb",
    "type": "mqtt out",
    "z": "tab_multi_1",
    "name": "ABB CMD",
    "topic": "robot/abb/cmd",
    "qos": "",
    "retain": "",
    "broker": "broker_multi",
    "x": 330,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_ur",
    "type": "mqtt in",
    "z": "tab_multi_1",
    "name": "UR RESP",
    "topic": "robot/ur/response",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker_multi",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 240,
    "wires": [["debug_ur"]]
  },
  {
    "id": "mqtt_in_abb",
    "type": "mqtt in",
    "z": "tab_multi_1",
    "name": "ABB RESP",
    "topic": "robot/abb/response",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker_multi",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 300,
    "wires": [["debug_abb"]]
  },
  {
    "id": "mqtt_in_plc",
    "type": "mqtt in",
    "z": "tab_multi_1",
    "name": "PLC Interlock",
    "topic": "system/plc/interlock",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker_multi",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 360,
    "wires": [["debug_plc"]]
  },
  {
    "id": "debug_ur",
    "type": "debug",
    "z": "tab_multi_1",
    "name": "UR Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 340,
    "y": 240,
    "wires": []
  },
  {
    "id": "debug_abb",
    "type": "debug",
    "z": "tab_multi_1",
    "name": "ABB Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 350,
    "y": 300,
    "wires": []
  },
  {
    "id": "debug_plc",
    "type": "debug",
    "z": "tab_multi_1",
    "name": "PLC Interlock State",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 370,
    "y": 360,
    "wires": []
  }
]